/Line.class
/LineClass.class
/Main.class
/RailwaySystem.class
/RailwaySystemClass.class
/Station.class
/StationClass.class
/TrainSchedule.class
/TrainScheduleClass.class
/ExistentLineException.class
/InexistentLineException.class
/InvalidTimeTableException.class
